:root {
--text-color-light: #555555;
--template-border-color: #FFFFFF;
--font-size: 15px;
--text-color: #555555;
--text-color-strong: #0B9A97;
--font-family: 'Noto Sans', sans-serif;
--header-height: 60px;
--header-logo-background: #FFFFFF;
--header-background-color: #0B9A97;
--menu-width: 400px;
--menu-background-color: #0B9A97;
--menu-master-color-strong: #0B9A97;
--menu-check-color: #0B9A97;
--submenu-background-color: #FFFFFF;
--main-color: #0B9A97;
--live-background-color: #FFFFFF;
--button-height: 35px;
--button-text-color: #333333;
--button-background: #FFFFFF;
--button-border-radius: 4px;
--button-padding: 13px;
--field-height: 35px;
--field-border-bottom: 1px;
--field-background: #FFFFFF;
--field-border-color: #DEDEDE;
--field-color: #333333;
--field-focus-border-color: #464b52;
--field-placeholder-color: #DEDEDE;
--content-background: #FFFFFF;
--content-border-color: #F1F1F1;
--panel-background: #FFFFFF;
--modal-background: #FFFFFF;
--submenu-sub-text-color: #555555;
--scrollbar-color: #F1F1F1;
--color-overlay: #0B9A97;
--preloader-color: #FFFFFF;
--live-area-width: 100%;
--header-border-bottom: #0B9A97;
--header-logo-font-size: 22px;
--header-logo-border-right: #FFFFFF;
--header-logo-border-bottom: #FFFFFF;
--header-track-border-right: #0B9A97;
--header-box-display: none;
--header-box-background: #fd9203;
--panel-header-background: #0B9A97;
--panel-body-padding: 15px;
--panel-border-color: #F1F1F1;
--button-border: #FFFFFF;
--button-text-color-hover: #0B9A97;
--menu-border-right: #0B9A97;
--menu-icon-font-size: 15px;
--menu-background-check: #FFFFFF;
--menu-button-border-color: #0B9A97;
--submenu-border-right: #FFFFFF;
--submenu-text-color: #555555;
--submenu-text-hover: #333333;
--submenu-background-check: #0B9A97;
--submenu-check-color: #fff;
--top-menu-border: #0B9A97;
--top-menu-background-color: #0B9A97;
--top-menu-background-check: #FFFFFF;
--top-menu-check-color: #0B9A97;
--top-menu-hover-color: #FFFFFF;
--top-menu-color: #F9F9F9;
--top-submenu-background-color: #0B9A97;
--top-submenu-text-color: #FFFFFF;
--top-submenu-text-hover: #888888;
--top-submenu-background-check: #FFFFFF;
--top-submenu-check-color: #0B9A97;
--field-padding-horizontal: 8px;
--tr-hover-background: #FFFFFF;
--tr-hover-color: #0B9A97;
--tr-even-background: #FFFFFF;
--tr-odd-background: #FFFFFF;
--table-body-color: #555555;
--table-header-color: #0B9A97;
--modal-footer-background: #DFE4ED;
--modal-header-background: #0B9A97;
--modal-header-color: #FFFFFF;
--button-box-shadow: none;
--panel-box-shadow: 2px 2px 2px 2px #F1F1F18A;
--panel-header-color: #FFFFFF;
--panel-footer-background: transparent;
--header-text-color: #FFFFFF;
--header-box-shadow: 1px 3px 3px 1px #FFFFFF;
--menu-box-shadow: 1px 1px 5px 1px #00000066;
--menu-user-splash-background: #FFFFFF;
--panel-header-font-size: 17px;
--panel-header-font-weight: 100px;
--panel-header-padding-vertical: 12px;
--panel-header-padding-horizontal: 20px;
--panel-header-border-color: #0B9A97;
--header-logo-text-color: #FFFFFF;
--menu-background-button-circle: #0B9A97;
--menu-color-button-circle: #FFFFFF;
--top-menu-background-button-circle: #FFFFFF;
--top-menu-color-button-circle: #0B9A97;
--submenu-font-size: 15px;
--submenu-item-padding-horizontal: 12px;
--submenu-item-padding-vertical: 12px;
--modules-button-radius: 100px;
--name: Chamados;
--field-border-top: 1px;
--field-border-right: 1px;
--field-border-left: 1px;
--field-border-radius: 4px;
--content-border-radius: 10px;
--panel-border-radius: 5px;
--field-padding-vertical: 0px;
--panel-padding: 0px;
--submenu-padding-horizontal: 10px;
--header-box-padding-horizontal: 0px;
--header-box-padding-vertical: 0px;
--header-logo-padding-horizontal: 0px;
--header-logo-padding-vertical: 0px;
--login-background-color: #FF9800;
--login-panel-header-background: #eceff4;
--login-panel-left-background-color: #fd9203;
--login-panel-right-background-color: #ffffff;
--login-button-background: #ffffff;
--login-button-text-color: #516283;
--login-panel-left-text-header-color: #8694B0;
--login-panel-left-text-header-align: left;
--login-panel-left-text-header-font-size: 40px;
--login-panel-left-text-header-font-weight: 700px;
--login-panel-left-text-footer-color: #8694B0;
--login-panel-left-text-footer-align: left;
--login-panel-left-text-footer-font-size: 30px;
--login-panel-left-text-footer-font-weight: 700px;
--login-panel-detail-display: none;
--login-link-color: #8694B0;
--login-html: ;
--login-panel-detail-display-image: flex;
--login-panel-detail-display-details: flex;
--login-panel-detail-image-size: contain;
--login-panel-detail-image-position: center;
--login-panel-detail-direction: row;
--login-panel-max-width: 750px;
--login-panel-detail-force-full-image: ;
--login-panel-border-radius: 10px;
--login-panel-box-shadow:  0px 0px 10px 4px #0000004d;
--login-title-font-size: 40px;
--login-title-align: center;
--login-title-font-weight: 700px;
--login-title-color: #8694B0;
--login-header-font-size: 14px;
--login-header-align: left;
--login-header-color: #8694B0;
--login-border-color: #DFE4ED;
--login-panel-left-header-image-position: center;
--login-text-center-align: center;
--login-text-center-size: 18px;
--login-text-center-weight: 600px;
--login-text-center-color: #616776;
--show-text-center: ;
--panel-row-margin-bottom: 7px;
--tab-active-border-color: #F1F1F1;
--tab-active-background: transparent;
--tab-active-color: #0B9A97;
--tab-border-color: transparent;
--tab-background: transparent;
--tab-color: #555555;
--tab-border-radius: 8px;
--tab-font-size: 15px;
--tab-font-weight: normal;
--table-header-font-size: 15px;
--table-header-font-weight: normal;
--table-header-background: transparent;
--table-header-border-color: #F1F1F1;
--table-header-padding-vertical: 12px;
--field-check-color: #0B9A97;
--field-disabled-background: #F1F1F1;
--field-disabled-text-color: #555555;
--field-disabled-border: #DEDEDE;
--login-panel-max-height: 550px;
--login-form-box-shadow: none;
}